#note that section headers begin with %, and sections can be
#PHANALYSIS
# cutoff for syllable usage
#usage_cutoff=.01
filter_trace=true
filter_method='ellip'
#filter_method='exp'
filter_type='high'
filter_corners=[.01]
#filter_corners=.3
#filter_corners=.15
clean_edge_effects=0
use_deltas=false
deltas_win=2
rectify=true
rcamp_dff_cutoff=1
gcamp_dff_cutoff=1
use_sensor='jrcamp1b'
gcamp_time_cutoff=28
rcamp_time_cutoff=14
max_lag=500
max_lag_scalars=100
fs=30
npcs=10
normalize_method=''
average_time='per'
average_percentiles=[0 100]
#bootstrap_normalize=true
scalar_corr_binsize=30
scalar_corr_binfun=@nanmean
scalar_corr_bintype='syllables'
scalar_shift=0
changepoint_threshold=2
save_dir='_analysis'
imaging_outlier_sigma=10
binarize=''
binarize_smooth=.3
binarize_sigma_t=2
#decode_window=[.05 .15]
#decode_binfun=@nanmean
#decode_normalize=true
#decode_cluster_neurons=false
#decode_cluster_behavior=false
##decode_compress=true
#decode_trial_block=[]
syllable_cutoff=41
#nshuffles=1000
#nshuffles_ave=100
ica_weights_min=10
use_model_changepoints=false
use_midpoints=false
deconvolve_gcamp=[]
deconvolve_rcamp=[]
roi_corr_threshold=.95
roi_detrend_fcn=@(x) prctile(x,10)
roi_detrend_win=15
