# percent sign indicates the part of the pipeline you are addressing:
# 1) COMMON (options applied to all scripts)
# 2) EXTRACT (options applied to kinect_extract)
# 3) TRACK (options applied to kinect_track)
# 4) STATS (options applied to kinect_getstats)
# 5) BOUND (options applied to kinect_bound)
#
# defaults are stored in helpers/utils/kinect_defaults.config
# place a file with the config extension in your data folder to overwrite
# defaults for that particular data
#
# note that photometry settings mirror the default settings and are here
# for instructive purposes

%TRACK
med_filt_size=[3 3]
ord_size_space=[5 5]

%STATS
ellipse_hampel_span=9
ellipse_hampel_sigma=3
ellipse_smoothing=3
centroid_hampel_span=5
centroid_hampel_sigma=3
centroid_smoothing=0
angle_hampel_span=5
angle_hampel_sigma=3
angle_smoothing=0
low=-30
open_reps=1
open_size=5
