# percent sign indicates the part of the pipeline you are addressing:
# 1) COMMON (options applied to all scripts)
# 2) EXTRACT (options applied to kinect_extract)
# 3) TRACK (options applied to kinect_track)
# 4) STATS (options applied to kinect_getstats)
# 5) BOUND (options applied to kinect_bound)
#
# defaults are stored in helpers/utils/kinect_defaults.config
# place a file with the config extension in your data folder to overwrite
# defaults for that particular data

# tracking parameters

%TRACK
med_filt_size=[9 9]
ord_size_space=[5 5]

# parameters for computing simple stats (centroid, angle, e.g.)
%STATS
ellipse_hampel_span=13
ellipse_hampel_sigma=1
ellipse_smoothing=7
centroid_hampel_span=7
centroid_hampel_sigma=1
centroid_smoothing=5
angle_hampel_span=13
angle_hampel_sigma=1
angle_smoothing=5
low=-16
open_reps=1
open_size=2
